<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850813955712-niavhspke9r135pb7ima9rtn1qu2f4kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850813955712-niavhspke9r135pb7ima9rtn1qu2f4kb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>850813955712-d3lga40ma3clm9ticeru61dhhmv14sf8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABMXdQtmA523QiS7mrsF9ZuHYGcGCQdlY</string>
	<key>GCM_SENDER_ID</key>
	<string>850813955712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flexible.flexible</string>
	<key>PROJECT_ID</key>
	<string>flexible-47fbf</string>
	<key>STORAGE_BUCKET</key>
	<string>flexible-47fbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850813955712:ios:e29691477a8a8d4ffd4065</string>
	<key>DATABASE_URL</key>
	<string>https://flexible-47fbf-default-rtdb.firebaseio.com</string>
</dict>
</plist>